.MainAtualizacao{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13%;
  background: black;
}

.MainImg{
  width: 55%;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.Image{
  width: 100%;
}

.MainTexto{
  width: 50%;
  height: 50vh;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.TextoTitulo{
  font-family: Arial, Helvetica, sans-serif;
  color: #bebebe;
  text-align: justify;
}

.TextoParagrafo{
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  color: #6d6d6d;

}

.SaibaMais{
  font-family: Arial, Helvetica, sans-serif;
  color: #6d6d6d;
  cursor: pointer;
}

.SaibaMais:hover{
  color: #00febc;
}

.TextoParagrafo:hover{
  color: #00febc;
}

.TextoTitulo:hover{
  color: #00febc;
}