.MainAtualizacao{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13%;
  background: black;
  box-shadow: rgb(0 0 0 / 25%) 4px 8px 20px 0px;
}

.MainImg{
  width: 55%;
  display: flex;
  align-items: center;
  cursor: pointer;
  

}

.Image{
  width: 100%;
}

.MainImg:hover{
  width: 58%;
  transition: 0.5s;
}

.MainTexto{
  width: 50%;
  height: 50vh;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.TextoTitulo{
  font-family: "FF Mark W05";
  color: #bebebe;
  text-align: justify;
}

.TextoParagrafo{
  width: 80%;
  font-family: "FF Mark W05";
  font-size: 18px;
  color: #6d6d6d;

}

.SaibaMais{
  font-family: "FF Mark W05";
  font-size: 18px;
  color: #6d6d6d;
  cursor: pointer;
  text-decoration: none;
}

.SaibaMais:hover{
  color: #00febc;
}

