.Main1{
    width: 90%;
    display: flex;
    margin-top: 7%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101d2e;
}

.Artigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.Titulo{
    text-align: center;
    font-family: "FF Mark W05";
    color: #ff3e4f;
}

.SubTitulo{
    width: 90%;
    color: #ff3e4f;
}

.Paragrafo{
    width: 90%;
    color: #aaaaaa;
    font-family: "FF Mark W05";
    font-size: 18px;
}