.MainBanner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2%;
    
    
}

.ImgBanner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url("../../images2/soyacapa.png") no-repeat;
    background-position: center;
    background-size: 100% 100%;
}


